<% provide(:title, "Blog") %>
<div class="row">
  <div class="col-md-9">
    <% if admin_signed_in? %>
      <div class="buttons">
        <button class="button"><%= link_to "New Post", new_post_path %></button>
        <button class="button"><%= link_to "Log out", destroy_admin_session_path, method: :delete %></button>
        <button class="button"><%= current_admin.email %></button>
      </div>
    <% end %>

    <% @posts.each do |post| %>
      <div class="post_wrapper">
        <div class="postlist_item">
          <h1 class="title"><%= link_to post.title, post %></h1>
          <div class="dl-horizontal">
            <div class="date"><%= post.admin.email %> <%= time_ago_in_words(post.created_at) %> Ago</div>
          </div>
          <div class="admin">
            <% if current_admin == post.admin_id %>
              | <%= link_to 'Edit', edit_post_path(post) %>  | <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
          <div class="fr-view">
              <%= raw post.body %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="sidebar">

    </div>
  </div>

</div>
