<div id="post_content">
    <div class="admin">
      <%= @post.admin.email %>
      <p class="date">
        Submitted <%= time_ago_in_words(@post.created_at) %> Ago
        <% if admin_signed_in? %>
          | <%= link_to 'Edit', edit_post_path(@post) %>  | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </div>

    <h1 class="title">
      <%= @post.title %>
    </h1>

  <div class="body froala-view">
      <%= simple_format(@post.body) %>
  </div>

</div>
