<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
</head>
<body>
  <header class="navbar">
    <div class="container wraphead">
      <%= link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/awakening-static/logo-REV.png"), root_path, id: "logo" %>
      <div class="header-image">
        <% if current_page?(root_path) %>
          <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/E_02a.jpg">
        <% elsif current_page?(produk_path) %>
          <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/E_04a.jpg">
        <% elsif current_page?(kontak_path) %>
          <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/E_05a.jpg">
        <% else %>
          <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/E_06a.jpg">
        <% end %>
      </div>

        <ul class="nav nav-pills">
          <li class="site-nav"><%= link_to "Tentang Kami", root_path %></li>
          <li class="site-nav"><%= link_to "Produk", produk_path %></li>
          <!--
          <li class="site-nav"><%= link_to "Tips Kesehatan", "#" %></li>
          -->
          <li class="site-nav"><%= link_to "Blog", posts_path %></li>
          <li class="site-nav"><%= link_to "Kontak", kontak_path %></li>
          <li class="site-nav"><%= link_to "Pertanyaan", pertanyaan_path %></li>
        </ul>

    </div>
  </header>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
